[user]
	name = Faris
	email = frs@hbb.dev
[core]
	autocrlf = false
	safecrlf = true
	pager = diff-so-fancy | less --tabs=4 -RF
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p

# NOTE: Add these AFTER setting up SSH keys on a new machine:
# [core]
#     sshCommand = ssh -i ~/.ssh/id_ed25519
# [url "git@github.com:"]
#     insteadOf = https://github.com/
